
.footer {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer h5 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer p{
    color: white !important;
}

.footer li a{
    color: white !important;
}


.footer a{
    color: white;
}

.footer a:hover {
    color: #667eea !important;
    transition: color 0.3s ease;
}

